<!DOCTYPE html>
<html lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>DirectIndustry - The online industrial exhibition: sensors, automation, motors, pumps, materials handling, packaging, etc.</title>
	<meta name="Description" content="The online exhibition for equipment and components which puts suppliers and buyers around the world in direct contact." /><meta name="keywords" content="directory, industry, industrial, products, manufacturers, equipment, components, supplies, manufacturing, purchasing" /><meta name="google-site-verification" content="BasKh_kNpj_QKHlG0XODdRlJZkH_mBnMZtB8U5Fwjdw" /><meta name="msvalidate.01" content="F472B803DDA436F369C88CFBD3582F98" /><meta name="viewport" content="width=device-width,initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link href="http://img.directindustry.com/favicons/apple-touch-icon.png" rel="apple-touch-icon" />
	<link href="http://img.directindustry.com/favicons/favicon.ico" rel="icon" type="image/x-icon" />
	<link href="http://projects.directindustry.com/rss" rel="alternate" title="RSS - DirectIndustry - Projects" type="application/rss+xml" />
	<link href="http://trends.directindustry.com/rss" rel="alternate" title="RSS - DirectIndustry - News &amp; Trends" type="application/rss+xml" />
	<link href="http://static.virtual-expo.com/media/ps/build/css/global.css?t=1554273458" media="screen" rel="stylesheet" type="text/css" />
	<link href="http://static.virtual-expo.com/media/ps/build/css/directindustry.css?t=1554273458" media="screen" rel="stylesheet" type="text/css" /><script type="text/javascript" src="http://static.virtual-expo.com/media/ps/build/js/directindustry-en.js?t=1554273458"></script><script type="text/javascript" src="http://static.virtual-expo.com/media/ps/build/js/global.js?t=1554273458"></script>
	<link href="http://www.directindustry.com/" hreflang="en" rel="alternate" />
	<link href="http://www.directindustry.fr/" hreflang="fr" rel="alternate" />
	<link href="http://www.directindustry.es/" hreflang="es" rel="alternate" />
	<link href="http://www.directindustry.it/" hreflang="it" rel="alternate" />
	<link href="http://www.directindustry.de/" hreflang="de" rel="alternate" />
	<link href="http://www.directindustry-china.cn/" hreflang="zh" rel="alternate" />
	<link href="http://www.directindustry.com/ja/" hreflang="ja" rel="alternate" />
	<link href="http://www.directindustry.com/pt/" hreflang="pt" rel="alternate" />
	<link href="http://www.directindustry.com.ru/" hreflang="ru" rel="alternate" /><script type="text/javascript">
            //<![CDATA[
            var HeadGlobalJsVar_ajaxCountryListUrl = "http://www.directindustry.com/ajax/country/list.json";
            var HeadGlobalJsVar_urlKey = "accueil";
            var HeadGlobalJsVar_myDomain = "directindustry.com";

                ve.context = ve.context || {};

                //]]>
            </script>
	<link href="https://plus.google.com/u/0/110768490826133821495" rel="publisher" />
	<link href="http://static.virtual-expo.com/media/ps/build/css/accueil.css?t=1554273458" media="screen" rel="stylesheet" type="text/css" /><script src="http://static.virtual-expo.com/media/ps/build/js/accueil.js?t=1554273458"></script>
	<style type="text/css">
	</style>
</head>
<body class="en"><noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-C79C" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<div id="main-wrapper">
<div id="wrapper"><script type="text/javascript">
    $(document).ready(function () {
        var headerForm = $('#header-search form');

        if (false === headerForm.hasClass('search-applied')) {
            headerForm.searchEngineForm({
                "loadInProgressMessage": "loading in progress... Please wait",
                "autoCompleteUrl": "/ajax/search/autocomplete.json",
                "autoCompleteCompanyLabel": "Company"
            });
        }
    });
</script>
<div class="header" id="header">
<div class="header-top container-wide" id="header-content">
<div class="row">
<h1 class="baseline">The Online Industrial Exhibition</h1>

<div class="nav-top right"><a class="exhibit right" verel="#">Exhibit with us</a>

<div class="currency right">
<div id="header-currency">
<ul id="header-currency-selector">
	<li class="current-currency" id="currencieslist">
	<div decorator="cloakRender">
	<div class="data-cloak" id="header-currency-li"><span class="currency-item">{{&gt;currencyLabel}}</span></div>
	</div>

	<ul id="header-currency-list">
		<li>{{&gt;currenciesTemplate}}</li>
	</ul>
	</li>
</ul>
</div>
</div>

<div class="myspace right" id="header-links"></div>

<div class="lang right">
<div id="header-language">
<ul id="header-language-selector">
	<li class="current-language"><span class="language-item">English</span>

	<ul id="header-language-list">
		<li><a class="language-item" href="#"><span>Fran&ccedil;ais</span> </a></li>
		<li><a class="language-item" href="#"><span>Espa&ntilde;ol</span> </a></li>
		<li><a class="language-item" href="#"><span>Italiano</span> </a></li>
		<li><a class="language-item" href="#"><span>Deutsch</span> </a></li>
	</ul>
	</li>
</ul>
</div>
</div>

<div class="corner"></div>
</div>
</div>
</div>

<div class="header-nav container-wide">
<div class="row">
<div class="logo inline-center"><a href="http://www.directindustry.com"><img alt="The Online Industrial Exhibition" id="header-logo" src="#" /> </a></div>

<div class="search col-lg-4 col-md-4 col-sm-6 col-xs-8">
<div class="header-search" id="header-search">
<form action="/ajax/search/define-link.json">
<div class="input-group"><input class="input" name="searchTerms" placeholder="Search amongst 557,987 products" type="text" value="" />
<div class="input-group-item search-select">
<div class="search-select-btn btn"><span>Products</span></div>

<ul class="search-select-menu">
	<li class="search-select-item selected"><label for="radioProduct"><span class="item-label">Search amongst 557,987 products</span> </label> <input checked="checked" id="radioProduct" name="searchType" type="radio" value="products" /> <input class="btn-label" type="hidden" value="Products" /></li>
	<li class="search-select-item "><label for="radioCat"><span class="item-label">Search amongst our 227,985 catalogs</span> </label> <input checked="checked" id="radioCat" name="searchType" type="radio" value="catalogs" /> <input class="btn-label" type="hidden" value="Catalogs" /></li>
	<li class="search-select-item "><label for="radioProject"><span class="item-label">Search amongst 704 projects</span> </label> <input checked="checked" id="radioProject" name="searchType" type="radio" value="projects" /> <input class="btn-label" type="hidden" value="Projects" /></li>
	<li class="search-select-item "><label for="radioTrends"><span class="item-label">Search amongst 56,269 News &amp; Trends</span> </label> <input checked="checked" id="radioTrends" name="searchType" type="radio" value="trends" /> <input class="btn-label" type="hidden" value="News &amp; Trends" /></li>
</ul>
</div>

<div class="input-group-item header-search-buttons">
<div id="header-search-delete"></div>
<button class="btn" id="header-search-launch-button" type="submit"></button></div>
</div>
</form>
</div>
</div>

<ul class="nav col-lg-6 col-md-6 col-sm-12 col-xs-12 right" id="header-nav">
	<li class="actif" id="header-products" on-hover="loadMenu('products')"><a href="#">Products</a></li>
	<li id="header-catalogs"><a href="#">Catalogs</a></li>
	<li id="header-projects" on-hover="loadMenu('projects')">
	<div decorator="cloakRender">
	<div class="data-cloak" id="projectsMenu">{{&gt;projectsMenu}}</div>
	</div>
	<a href="#/">Projects</a></li>
	<li id="header-trends" on-hover="loadMenu('trends')">
	<div decorator="cloakRender">
	<div class="data-cloak" id="trendsMenu">{{&gt;trendsMenu}}</div>
	</div>
	<a href="#/">News &amp; Trends</a></li>
	<li class="emag" id="header-emag"><a name="emag" verel="#">E-MAGAZINE</a></li>
</ul>
</div>
</div>



<div class="container" id="main">
<div class="row">
<div class="col-sm-3"></div>

<div class="col-sm-6 searchBarContainer">
<div class="bigBaseline">Every great purchase starts here!</div>

<div class="productsCount">Search amongst 557,987 products</div>

<div class="header-search  " id="header-search-home">
<form action="/ajax/search/define-link.json">
<div class="input-group"><input autocomplete="disable" class="input" name="searchTerms" placeholder="" type="text" value="" />
<ul class="search-select-menu">
	<li class="search-select-item selected"><label><span class="item-label">Brand, model, keywords...</span> </label> <input checked="checked" name="searchType" type="radio" value="products" /></li>
</ul>

<div class="header-search-buttons input-group-item">
<div id="header-search-delete"></div>
<button class="btn" id="header-search-launch-button" type="submit"></button></div>
</div>
</form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#header-search-home form').searchEngineForm({"loadInProgressMessage": "loading in progress... Please wait"

        ,
                "autoCompleteUrl": "/ajax/search/autocomplete.json",
                "autoCompleteCompanyLabel": "Company"


    });
    }
    );
</script></div>
</div>

<div class="univers-main">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
<ul class="univers-group">
	<li class="univers-group-item" on-click="slide('.category-group')"><span title="Detection - Measurement">Detection - Measurement</span>

	<ul class="category-group ">
		<li class="category-group-item"><a href="#" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Flow, Pressure and Level Measurement</a></li>
		<li class="category-group-item"><a href="#/temperature-humidity-measurement-BR.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Temperature and Humidity Measurement</a></li>
		<li class="category-group-item"><a href="#/position-speed-acceleration-measurement-AG.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Position, Speed and Acceleration Measurement</a></li>
		<li class="category-group-item"><a href="#/force-measurement-BO.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Force Measurement</a></li>
		<li class="category-group-item"><a href="#/optical-acoustic-measurement-AJ.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Optical and Acoustic Measurement</a></li>
		<li class="category-group-item"><a href="#/electrical-measurement-AI.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Electrical Measurement</a></li>
	</ul>
	</li>
</ul>

<ul class="univers-group">
	<li class="univers-group-item" on-click="slide('.category-group')"><span title="Metrology - Laboratory ">Metrology - Laboratory </span>

	<ul class="category-group ">
		<li class="category-group-item"><a href="#" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Analytical Instrumentation</a></li>
		<li class="category-group-item"><a href="#" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Metrology and Test Equipment</a></li>
		<li class="category-group-item"><a href="#" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Inspection and Monitoring</a></li>
		<li class="category-group-item"><a href="#" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Laboratory Equipment</a></li>
	</ul>
	</li>
</ul>

<ul class="univers-group">
	<li class="univers-group-item" on-click="slide('.category-group')"><span title="Robotics - Automation - Industrial IT">Robotics - Automation - Industrial IT</span>

	<ul class="category-group ">
		<li class="category-group-item"><a href="#/automation-A.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Automation</a></li>
		<li class="category-group-item"><a href="#/industrial-robotics-AM.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Industrial Robotics</a></li>
		<li class="category-group-item"><a href="#/service-robotics-CR.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Service Robotics</a></li>
		<li class="category-group-item"><a href="#/industrial-computing-H.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Industrial Computing</a></li>
		<li class="category-group-item"><a href="#/industrial-software-BJ.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Industrial Software</a></li>
	</ul>
	</li>
</ul>

<ul class="univers-group">
	<li class="univers-group-item" on-click="slide('.category-group')"><span title="Electricity - Electronics - Optics">Electricity - Electronics - Optics</span>

	<ul class="category-group ">
		<li class="category-group-item"><a href="#/energy-production-distribution-CA.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Energy: Production and Distribution</a></li>
		<li class="category-group-item"><a href="#/power-supplies-C.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Power Supplies</a></li>
		<li class="category-group-item"><a href="#/switches-relays-AF.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Switches and Relays</a></li>
		<li class="category-group-item"><a href="#/cables-connectors-enclosures-CB.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Cables, Connectors, Enclosures</a></li>
		<li class="category-group-item"><a href="#/electronic-components-AA.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Electronic Components</a></li>
		<li class="category-group-item"><a href="#/optical-components-AC.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Optical Components</a></li>
	</ul>
	</li>
</ul>

<ul class="univers-group">
	<li class="univers-group-item" on-click="slide('.category-group')"><span title="Power Transmission - Mechanical components">Power Transmission - Mechanical components</span>

	<ul class="category-group ">
		<li class="category-group-item"><a href="#/motors-motor-control-D.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Motors and Motor Control</a></li>
		<li class="category-group-item"><a href="#/bearings-linear-guides-F.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Bearings and Linear Guides</a></li>
		<li class="category-group-item"><a href="#/mechanical-transmission-L.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Mechanical Transmission</a></li>
		<li class="category-group-item"><a href="#/actuators-positioning-systems-BU.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Actuators and Positioning Systems</a></li>
	</ul>
	</li>
</ul>

<ul class="univers-group">
	<li class="univers-group-item" on-click="slide('.category-group')"><span title="Hydraulics - Pneumatics">Hydraulics - Pneumatics</span>

	<ul class="category-group ">
		<li class="category-group-item"><a href="#/pumps-G.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Pumps</a></li>
		<li class="category-group-item"><a href="#/compressors-R.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Compressors</a></li>
		<li class="category-group-item"><a href="#/hydraulic-pneumatic-actuators-BC.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Hydraulic and Pneumatic Actuators</a></li>
		<li class="category-group-item"><a href="#/valves-W.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Valves</a></li>
		<li class="category-group-item"><a href="#/pipes-tubes-fittings-V.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Pipes, Tubes and Fittings</a></li>
		<li class="category-group-item"><a href="#/filters-separators-BT.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Filters and Separators</a></li>
	</ul>
	</li>
</ul>

<ul class="univers-group">
	<li class="univers-group-item" on-click="slide('.category-group')"><span title="Materials - Tools - Components">Materials - Tools - Components</span>

	<ul class="category-group ">
		<li class="category-group-item"><a href="#/semi-finished-products-J.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Semi-finished products</a></li>
		<li class="category-group-item"><a href="#/lubrication-BS.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Lubrication</a></li>
		<li class="category-group-item"><a href="#/hand-tools-power-tools-BA.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Hand Tools, Power Tools</a></li>
		<li class="category-group-item"><a href="#/standard-mechanical-components-B.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Standard Mechanical Components</a></li>
	</ul>
	</li>
</ul>
</div>

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
<ul class="univers-group">
	<li class="univers-group-item" on-click="slide('.category-group')"><span title="Machine-tools">Machine-tools</span>

	<ul class="category-group ">
		<li class="category-group-item"><a href="#/machining-centers-E.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Machining Centers</a></li>
		<li class="category-group-item"><a href="#/finishing-machines-AL.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Finishing Machines</a></li>
		<li class="category-group-item"><a href="#/cutting-tools-AD.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Cutting Tools</a></li>
		<li class="category-group-item"><a href="#/machine-tool-accessories-AV.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Machine Tool Accessories</a></li>
	</ul>
	</li>
</ul>

<ul class="univers-group">
	<li class="univers-group-item" on-click="slide('.category-group')"><span title="Production Machines">Production Machines</span>

	<ul class="category-group ">
		<li class="category-group-item"><a href="#/additive-manufacturing-3d-printing-CO.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Additive Manufacturing, 3D Printing</a></li>
		<li class="category-group-item"><a href="#/cutting-machines-AE.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Cutting Machines</a></li>
		<li class="category-group-item"><a href="#/forming-machines-BF.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Forming Machines</a></li>
		<li class="category-group-item"><a href="#/plastics-processing-M.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Plastics Processing</a></li>
		<li class="category-group-item"><a href="#/food-processing-machines-CL.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Food processing machines</a></li>
		<li class="category-group-item"><a href="#/textile-machinery-BI.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Textile machinery</a></li>
		<li class="category-group-item"><a href="#/other-manufacturing-equipment-AQ.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Other Manufacturing Equipment</a></li>
	</ul>
	</li>
</ul>

<ul class="univers-group">
	<li class="univers-group-item" on-click="slide('.category-group')"><span title="Industrial machines and equipment">Industrial machines and equipment</span>

	<ul class="category-group ">
		<li class="category-group-item"><a href="#/surface-treatment-equipment-AO.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Surface Treatment Equipment</a></li>
		<li class="category-group-item"><a href="#/welding-assembly-N.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Welding and Assembly</a></li>
		<li class="category-group-item"><a href="#/printing-marking-engraving-BZ.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Printing, Marking and Engraving</a></li>
		<li class="category-group-item"><a href="#/furnaces-heat-treatment-P.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Furnaces and Heat Treatment</a></li>
		<li class="category-group-item"><a href="#/heat-exchangers-refrigeration-CC.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Heat Exchangers and Refrigeration</a></li>
		<li class="category-group-item"><a href="#/mixing-dosing-BG.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Mixing and Dosing</a></li>
	</ul>
	</li>
</ul>

<ul class="univers-group">
	<li class="univers-group-item" on-click="slide('.category-group')"><span title="Packing - Handling - Logistics">Packing - Handling - Logistics</span>

	<ul class="category-group ">
		<li class="category-group-item"><a href="#/packing-packaging-AN.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Packing and Packaging</a></li>
		<li class="category-group-item"><a href="#/handling-lifting-S.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Handling and Lifting</a></li>
		<li class="category-group-item"><a href="#/conveying-BD.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Conveying</a></li>
		<li class="category-group-item"><a href="#/storage-U.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Storage</a></li>
	</ul>
	</li>
</ul>

<ul class="univers-group">
	<li class="univers-group-item" on-click="slide('.category-group')"><span title="Environment - Health - Safety ">Environment - Health - Safety </span>

	<ul class="category-group ">
		<li class="category-group-item"><a href="#/air-treatment-noise-management-Y.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Air Treatment and Noise Management</a></li>
		<li class="category-group-item"><a href="#/water-treatment-AP.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Water Treatment</a></li>
		<li class="category-group-item"><a href="#/waste-treatment-BK.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Waste Treatment</a></li>
		<li class="category-group-item"><a href="#/personal-protective-equipment-BM.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Personal Protective Equipment</a></li>
		<li class="category-group-item"><a href="#/building-security-machine-safety-K.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Building Security and Machine Safety </a></li>
	</ul>
	</li>
</ul>

<ul class="univers-group">
	<li class="univers-group-item" on-click="slide('.category-group')"><span title="Building - Construction">Building - Construction</span>

	<ul class="category-group ">
		<li class="category-group-item"><a href="#/industrial-building-equipment-O.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Industrial Building Equipment</a></li>
		<li class="category-group-item"><a href="#/construction-mining-equipment-AR.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Construction and Mining Equipment</a></li>
		<li class="category-group-item"><a href="#/construction-tools-AW.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Construction tools</a></li>
	</ul>
	</li>
</ul>

<ul class="univers-group">
	<li class="univers-group-item" on-click="slide('.category-group')"><span title="Subcontracting and Services">Subcontracting and Services</span>

	<ul class="category-group ">
		<li class="category-group-item"><a href="#/plastic-processing-AH.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Plastic processing</a></li>
		<li class="category-group-item"><a href="#/metalworking-BH.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Metalworking</a></li>
		<li class="category-group-item"><a href="#/surface-treatment-AS.html" onclick="var event = arguments[0] || window.event; event.stopPropagation();">Surface treatment</a></li>
	</ul>
	</li>
</ul>
</div>
</div>
</div>

<div class="home-gallery" data-placement="1" id="new-products">
<div decorator="cloakRender">
<div class="veSpinner fa fa-spinner fa-pulse"></div>

<div class="data-cloak">{{#newProducts.length}}
<div class="main-title"><span>{{newProductsTitle}}</span></div>

<div class="row">{{#each newProducts}}
<div class="col-lg-2 col-md-fifth col-sm-4 col-xs-6">
<div class="inset inline-center">
<div class="inset-img {{innovationClass}} inline-center" data-campaignid="{{campaignId}}" data-companyid="{{company.id}}" data-id="{{id}}" on-click="openDetail('product')"><a decorator="linkRender:'{{linkUrl}}'" title="{{shortName}}"> <img alt="{{shortName}} - {{company.name}}" decorator="imageRender:'{{imageUrl}}'" src="" /> </a></div>

<div class="inset-caption price-container" data-campaignid="{{campaignId}}" data-companyid="{{company.id}}" data-id="{{id}}" on-click="openDetail('product')"><a decorator="linkRender:'{{linkUrl}}'" title="{{shortName}}"> <span class="short-name">{{shortName}}</span> {{#if brand}} <span class="brand">{{brand}}</span> {{/if}} </a> <a class="logo" decorator="linkRender:'{{company.linkUrl}}'"> <img decorator="imageRender:'{{company.imageUrl}}'" src="" title="{{company.name}}" /> </a> {{#if company.isCompanyInTestChat}}

<div class="stand-tagChat-pictos"><img alt="cad" class="stand-header-icons" src="http://img.directindustry.com/media/ps/images/ae/TagChat-icon.svg" style="width: 58px;" /></div>
{{else}} {{#productPrice}}

<div class="price" data-currency="{{productPrice.currency}}" data-price="{{productPrice.price}}"><span class="small">{{#if productPrice.priceType}} {{indicatedPriceLabel}} {{else}} {{fromPriceLabel}} {{/if}}* </span> <span class="big js-price-content"> {{productPrice.formattedPrice}} <span class="small"> {{#if productPrice.unitLabel}}&nbsp;/&nbsp;{{productPrice.unitLabel}}{{/if}} </span> </span></div>
{{/productPrice}} {{/if}}</div>
{{#if isPushed}}

<div class="ads-icon">{{highlightLabel}}</div>
{{/if}} {{#if newProduct}}

<div class="new-video">
<div class="icon-big new"></div>
</div>
{{/if}}</div>
</div>
{{/each}}</div>
{{/newProducts.length}}</div>
</div>
</div>

<div data-placement="6" id="new-projects">
<div decorator="cloakRender">
<div class="veSpinner fa fa-spinner fa-pulse"></div>

<div class="data-cloak">{{#newProjects.length}}
<div class="main-title"><span>{{newProjectsTitle}}</span></div>

<div class="row">{{#each newProjects}}
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
<div class="inset">
<div class="inset-img inline-center" data-campaignid="{{campaignId}}" data-companyid="{{company.id}}" data-id="{{id}}" on-click="openDetail('project')"><a decorator="linkRender:'{{linkUrl}}'" title="{{name}}"> <img alt="{{name}}" decorator="imageRender:'{{imageUrl}}'" src="" /> </a></div>

<div class="row inset-caption collapse">
<div class="{{#if company}}col-lg-8 col-md-8 col-sm-8 col-xs-8{{else}}col-lg-12 col-md-12 col-sm-12 col-xs-12{{/if}}" data-campaignid="{{campaignId}}" data-companyid="{{company.id}}" data-id="{{id}}" on-click="openDetail('project')"><a decorator="linkRender:'{{linkUrl}}'" title="{{name}}"> {{#if autoTranslated}} <span class="short-name">{{nameForDefaultLanguage}}</span> {{else}} <span class="short-name">{{name}}</span> {{/if}} </a></div>
{{#if company}}

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><a decorator="linkRender:'{{company.linkUrl}}'"> <img class="logo right" decorator="imageRender:'{{company.imageUrl}}'" src="" title="{{company.name}}" /> </a></div>
{{/if}}</div>
{{#if isPushed}}

<div class="ads-icon">{{highlightLabel}}</div>
{{/if}}</div>
</div>
{{/each}}</div>
{{/newProjects.length}}</div>
</div>
</div>

<div data-placement="8" id="new-trends">
<div decorator="cloakRender">
<div class="veSpinner fa fa-spinner fa-pulse"></div>

<div class="data-cloak">{{#newTrends.length}}
<div class="main-title"><span>{{newTrendsTitle}}</span></div>

<div class="row">{{#each newTrends}}
<div class="col-lg-fifth col-md-3 col-sm-4 col-xs-4">
<div class="inset">
<div class="inset-img inline-center" data-campaignid="{{campaignId}}" data-companyid="{{company.id}}" data-id="{{id}}" on-click="openDetail('trends')"><a decorator="linkRender:'{{linkUrl}}'" title="{{name}}"> <img alt="{{name}}" decorator="imageRender:'{{imageUrl}}'" src="" /> </a></div>

<div class="row inset-caption collapse">
<div class="{{#if company}}col-lg-8 col-md-8 col-sm-8 col-xs-8{{else}}col-lg-12 col-md-12 col-sm-12 col-xs-12{{/if}}" data-campaignid="{{campaignId}}" data-companyid="{{company.id}}" data-id="{{id}}" on-click="openDetail('trends')"><a decorator="linkRender:'{{linkUrl}}'" encrypt="false" title="{{name}}"> {{#if autoTranslated}} <span class="short-name">{{nameForDefaultLanguage}}</span> {{else}} <span class="short-name">{{name}}</span> {{/if}} </a></div>
{{#if company}}

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><a decorator="linkRender:'{{company.linkUrl}}'"> <img class="logo right" decorator="imageRender:'{{company.imageUrl}}'" src="" title="{{company.name}}" /> </a></div>
{{/if}}</div>
{{#if isPushed}}

<div class="ads-icon">{{highlightLabel}}</div>
{{/if}}</div>
</div>
{{/each}}</div>
{{/newTrends.length}}</div>
</div>
</div>

<div data-placement="0" id="buying-guides">
<div decorator="cloakRender">
<div class="veSpinner fa fa-spinner fa-pulse"></div>

<div class="data-cloak">{{#buyingGuides.length}}
<div class="main-title"><span>{{buyingGuidesTitle}}</span></div>

<div class="row bg-row">{{#each buyingGuides}}
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
<div class="inset bg-container">
<div class="inset-img inline-center bg-img" data-id="{{id}}"><a class="external" decorator="linkRender:'{{linkUrl}}'" title="{{name}}"> <img alt="{{name}}" decorator="imageRender:'{{imageUrl}}'" src="" /> </a></div>

<div class="inset-caption bg-text">
<h2 class="bg-title">{{name}}</h2>

<p class="bg-description">{{description}}</p>

<div class="bg-btm"><a class="external btn-mcl bg-link" decorator="linkRender:'{{linkUrl}}'" title="{{name}}">{{globalLearnMoreLabel}}</a></div>
</div>
</div>
</div>
{{/each}}</div>
{{/buyingGuides.length}}</div>
</div>
{{#buyingGuides.length}}

<div class="bg-global-link"><a class="external inset-caption bg-global-link-txt txt-mcl" decorator="linkRender:'http://#.directindustry.com'">{{globalBuyingGuidesLink}} </a></div>
{{/buyingGuides.length}}</div>

<div class="home-gallery" data-placement="0" id="emag-items">
<div decorator="cloakRender">
<div class="veSpinner fa fa-spinner fa-pulse"></div>

<div class="data-cloak">{{#emagItems.length}}
<div class="main-title"><span>{{emagItemsTitle}}</span></div>

<div class="row">{{#each emagItems}}
<div class="col-lg-{{12/emagItems.length}} col-md-{{12/emagItems.length}} col-sm-12 col-xs-12">
<div class="inset">
<div class="inset-img inline-center" data-id="{{id}}" on-click="openDetail('emag','false')"><a class="external" decorator="linkRender:'{{linkUrl}}'" title="{{name}}"> <img alt="{{name}}" class="crop-width crop-height" decorator="imageRender:'{{imageUrl}}'" src="" /> </a></div>

<div class="row inset-caption">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" data-id="{{id}}" on-click="openDetail('emag','false')"><a class="external" decorator="linkRender:'{{linkUrl}}'" title="{{name}}"> <span class="short-name">{{name}}</span> </a></div>
</div>
</div>
</div>
{{/each}}</div>
{{/emagItems.length}}</div>
</div>
</div>
</div>

<div class="footer-free-tax">*Prices are pre-tax. They exclude delivery charges and customs duties and do not include additional charges for installation or activation options. Prices are indicative only and may vary by country, with changes to the cost of raw materials and exchange rates.</div>

<div class="brands-container" id="brands-container">
<div><script id="VeSliderComponent" type="text/ractive">
                <VeSliderComponent on-staticClick="clickCompany"
                veSliderOptions="{imagesLoaded: true, cellAlign: 'left', contain: true, freeScroll: true, wrapAround: false, pageDots: false, prevNextButtons: true, autoPlay: 2000}"
                class='brands'>
                </VeSliderComponent>
            </script></div>
</div>

<div class="footer">
<div class="footer-top inline-center">
<div class="footer-top-item">
<div class="visitors left float-non-media" id="footer-items-source"><a class="sourceLink normal-line-height" verel="#">HOW TO SOURCE PRODUCTS</a></div>

<div class="visitors left float-non-media" id="footer-items-exhibit"><a class="borderLeft" verel="#">Exhibit with us</a></div>

<div class="visitors left float-non-media" id="footer-items-faq"><a class="borderLeft external" href="#">Contact us</a></div>
</div>

<ul class="footer-top-item links inline-left">
	<li><a href="#">List of exhibitors</a></li>
	<li><a class="external" verel="#">Exhibitor Access</a></li>
	<li><a verel="#">MyDirectIndustry</a></li>
	<li><a verel="#">Newsletter subscription</a></li>
	<li><a class="external logo ve" href="#">About VirtualExpo Group</a></li>
</ul>

<div class="footer-top-item social" id="social-links">
<div decorator="cloakRender">
<div class="data-cloak">{{&gt;socialLinksTemplate}}</div>
</div>
</div>
</div>

<div class="footer-bottom">
<div class="logo-group inline-center"></div>

<div class="infos inline-center">&copy; 2019&nbsp;All rights reserved - <a class="footerLinksTerms" verel="#">Terms</a> - <a class="footerLinksPrivacy" verel="#">Privacy policy</a> - <a class="footerLinksCGU" verel="#">General Terms </a><span id="footer-links-directory"> - <a href="#">Distributor list</a></span> - <a class="external" verel="#">ICP</a><span id="countries-list"> -&nbsp;</span>

<div class="countries-list" id="countrieslist">
<div decorator="cloakRender">
<div class="data-cloak"><span id="countries-list">{{&gt;countriesTemplate}}</span></div>
</div>
</div>
<span id="countries-list"> </span></div>
</div>
<script type='text/javascript'>
        (function (w, d) {
            var a = function () {
                var a = d.createElement('script');
                a.type = 'text/javascript';
                a.async = 'async';
                a.src = '//' + ((w.location.protocol === 'https:') ? 's3.amazonaws.com/cdx-radar/' :
                        'radar.cedexis.com/') + '01-10977-radar10.min.js';
                d.body.appendChild(a);
            };
            if (w.addEventListener) {
                w.addEventListener('load', a, false);
            } else if (w.attachEvent) {
                w.attachEvent('onload', a);
            }
        }(window, document));


    </script></div>
</div>
</div>
<script type="text/javascript">var GlobalJsVar_dataStatsGlobal ='{"pageTypeId":24,"elementList":[]}';</script>

<div id="eventStatco" style="display: none;"></div>
</body>
</html>
